.moviesListControls {
  padding: .5rem;
}

#genreSelect {
  margin-right: 1rem;
}

.moviesList {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.movieCard {
  max-width: 200px;
  width: 100%;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movieCard:hover {
  cursor: pointer;
}

.movieCard>img {
  max-width: 200px;
}

#pagesList {
  display: flex;
  list-style: none;
  gap: 5px;
  padding: 1rem;
}

#activePage {
  border-bottom: 2px solid red;
}

@media screen and (max-width: 432px) {
  .movieCard {
    max-width: 100px;
  }

  #moviesListControls {
    text-align: center;
  }

  .moviesList {
    justify-content: center;
  }

  #pagesList {
    justify-content: center;
  }
}