#main {
  max-width: 1500px;
  margin: auto;
}

.moviesList {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.movieCard {
  max-width: 200px;
  width: 100%;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.movieCard:hover {
  cursor: pointer;
}

.movieCard>picture>img {
  max-width: 200px;
  width: 100%;
}

#pagesList {
  display: flex;
  list-style: none;
  gap: 5px;
  padding: 1rem;
}

#activePage {
  border-bottom: 2px solid red;
}

@media screen and (max-width: 660px) {
  .movieCard {
    max-width: 100px;
  }

  #moviesListControls {
    text-align: center;
  }

  .moviesList {
    justify-content: center;
  }

  #pagesList {
    justify-content: center;
  }
}

.loadingContainer {
  text-align: center;
  margin: 2rem;
}

.loader {
  width: 25px;
  height: 25px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}