.navBar {
  display: flex;
  list-style: none;
  background-color: #000;
  gap: 20px;
  color: #fff;
  padding: .5rem;
  padding-left: 1rem;
}

.navItem {
  height: 100%;
  border-bottom: 2px solid #000;
}

.navItem>a {
  text-decoration: none;
}

@media (hover: hover) {
  .navItem:hover {
    border-bottom: 2px solid #ff0000;
    cursor: pointer;
  }
}